.shipping-detail {
  display: flex;
  margin-bottom: 20px;
}

.shipping-detail-address {
  margin: 0 20px 0 5px;
}

.shipping-detail-img {
  width: 40px;
  height: 40px;
}

.shipping-detail-address_title {
  font-size: 13px;
}

.shipping-detail-address_label {
  font-weight: 600;
}

.shipping-detail-address_desc {
  color: #808089;
  font-size: 12px;
  margin-top: 10px;
}

.shipping-detail icon {
  transform: translateY(100%);
}
