.header-container {
  margin: 7vh 0 0;
}

.header-img {
  width: 52px;
  height: 29px;
  margin-right: 10px;
}

.header-container-text {
  display: flex;
  flex-direction: column;
}

.header-container-text text:first-child {
  font-size: 10px;
}

.header-container-text text:last-child {
  font-size: 12px;
  font-weight: 600;
}

.carousel_list {
  background-color: #fff;
  margin-bottom: 10px;
}

.search_input {
  margin-bottom: 10px;
}

.actions {
  margin: 20px 10px 10px;
}
