.product {
  border-radius: 8px;
}

.product_text-container {
  padding: 0 10px;
}

.product_text-container > view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name text {
  font-size: 14px;
  font-weight: 600;
}

.product-price {
  padding: 10px 0;
}
