.search {
  background-color: #f6f8f7;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 0 10px 10px;
  padding: 0 10px;
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #f6f8f7;
  font-size: 14px;
  font-weight: 400;
}

.search-go-to {
  width: 30px;
  height: 24px;
  background-color: #00c57e;
  border-radius: 8px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
